@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center">Pokémon API Project</h1>
<center>
    <img src="~/images/catchemall_610a.jpg" height="25%" width="25%" class="center" />
    <img src="~/images/BeFunky-collage.png" height="75%" width="75%" class="center" />
</center>